<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page!</title>
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap'); /* font-family: 'DM Mono', monospace; */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        position: relative;
        background: linear-gradient(to right, grey, lightgrey);
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
      }
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .logo h1 {
        font-family: 'DM Mono', monospace;
        text-align: center;
      }
      form {
        height: 400px;
        width: 400px;
        border: 2px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
      }
      form label,
      form input {
        height: 30px !important;
        transform: translateY(-100%);
      }
      form h1 {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
      }
      form hr {
        width: 90%;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
      }
      form input {
        margin: 5px;
        width: 90%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid grey;
        outline: none;
        padding: 3px;
        transition: all 0.3s ease;
      }
      form input:focus {
        box-shadow: 0 0 0 2px rgb(0, 146, 231);
      }
      .alert-text {
        position: absolute;
        left: 6%;
        top: 53%;
      }
      .alert-text p {
        color: red;
        font-size: 11px;
      }
      form label {
        margin-top: 20px;
        width: 90%;
      }
      form button {
        height: 40px;
        width: 40%;
        border-radius: 5px;
        padding: 5px;
        color: white;
        background-color: black;
        transition: all 0.3s ease;
        cursor: pointer;
        position: absolute;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid black;
        outline: none;
      }
      form button:hover {
        background-color: transparent;
        color: black;
      }
      form button:focus {
        box-shadow: 0 0 0 2px rgb(0, 146, 231);
      }
      form a {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        color: black;
        width: 100%;
        text-align: center;
        transition: all 0.4s ease;
      }
      form a:hover {
        color: rgb(0, 125, 156);
      }
      .all-users {
        display: none;
      }
      @media screen and (max-width: 500px) {
        form {
          width: 95%;
        }
      }
      @media screen and (max-width: 300px) {
        .logo h1 {
          font-size: 20px;
        }
        form h1 {
          font-size: 20px;
        }
      }
      @media screen and (max-width: 226px) {
        form a {
          bottom: 20px;
        }
      }
    </style>
    <% if (status === 'error') { %>
    <style>
      form .alert-msg p {
        border: 1px solid red;
        height: 65px;
        width: 50%;
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        border-radius: 5px;
        color: white;
        text-align: center;
        padding: 3px;
        visibility: hidden;
      }
      #password {
        border: 1px solid red;
      }
      #password:focus {
        box-shadow: 0 0 0 1px red;
      }
    </style>
    <% } else if (status === 'successful') {%>
    <style>
      form .alert-msg p {
        border: 1px solid rgb(0, 0, 0);
        height: 65px;
        width: 50%;
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(37, 255, 84);
        border-radius: 5px;
        color: white;
        text-shadow: 0px 0px 2px black;
        text-align: center;
        padding: 3px;
      }
    </style>
    <% } %>
    <header>
      <div class="logo">
        <h1>Note Keeper ✓</h1>
      </div>
    </header>
    <div class="body-cont">
      <form action="/account/login" method="POST" name="signup-form">
        <h1>Log In!</h1>
        <hr />
        <div class="alert-msg">
          <p></p>
        </div>

        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username..."
          required
        />

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password..."
          required
        />
        <% if (status === 'error') { %>
        <div class="alert-text">
          <p>Incorrect username or password!</p>
        </div>
        <% } %>

        <button type="submit" id="submit">Submit!</button>
        <a href="/signup">Don't have an account? Sign Up!</a>
      </form>
      <div class="all-users"></div>
    </div>
    <% if (status === 'successful') { %>
    <script>
      document.querySelector('.alert-msg p').innerText =
        'Successfully created an account! You can now log in!';
      setTimeout(() => {
        document.querySelector('.alert-msg p').style.visibility = 'hidden';
      }, 5000);
    </script>
    <% } %>
  </body>
</html>
